In [51]:
import pandas as pd
from decimal import *
import numpy as np
import re

In [52]:
df = pd.read_csv('../data/donneesBrutesPirateriesLatLon.csv',sep=';')

In [55]:
size = len(df['descriptif'])
descriptif = []
for i in range(0,size) :
    descriptif.append(df.descriptif[i].replace("\n","").lower())

df['descriptif']=descriptif

# Redéfinition des types de bateaux

In [56]:
uniqueFirst=df["type(0)"].unique()
print uniqueFirst

['Container' 'Bulk Carrier' 'General Cargo' 'Tanker' 'Tug' 'Barge'
 'Chemical Tanker' 'Product Tanker' 'LPG Tanker' 'LNG Tanker' 'Ro-Ro'
 'Wood Chips Carrier' 'Seismographic Research' 'Refrigerated Cargo'
 'Dredger' 'Vehicle Carrier' 'Fishing Vessel' 'VLCC' 'Bitumen Tanker'
 'Dhow' nan 'Heavy Load Carrier' 'Landing Craft' 'Pipe Layer Crane Vessel'
 'Research Vessel' 'Warship' 'Patrol Boat' 'Passenger Ship'
 'Cement Carrier' 'Offshore Support Vessel' 'Yacht' '-' 'Passenger Vessel'
 'Storage Tanker' 'Crew Boat' 'Catamaran' 'OBO Carrier' 'Wood Chip Carrier'
 'Livestock Carrier' 'Diving Support' 'Drilling Ship'
 'Offshore Supply Ship' 'Offshore Tug' 'Salvage Vessel' 'Guard Vessel'
 'Supply Vessel' 'Naval Auxiliary' 'Pipe Layer Vessel' 'Asphalt Tanker'
 'Offshore Processing Ship' 'Water Barge' 'Supply Ship']

In [57]:
def getRightType(oldType):
    #print type(oldType)
    newType="Other"
    if isinstance(oldType, basestring):
        if "Tanker" in oldType: 
            newType="Tanker"
        if "Ro-Ro" in oldType: 
            newType="Ro-Ro"
        elif "Cargo" in oldType: 
            newType="Cargo"
        elif "Carrier" in oldType: 
            newType="Carrier"
        elif "Tug" in oldType: 
            newType="Tug"
        elif "Barge" in oldType: 
            newType="Barge"
        elif "Vessel" in oldType: 
            newType="Vessel"
    
    return newType

print getRightType("Ro-Ro")
print getRightType("Vehicle Carrier")
print getRightType("")

Ro-Ro
Carrier
Other

In [58]:
df['new_type']= df.apply(lambda row: getRightType(row['type(0)']), axis=1)

In [59]:
uniqueFinal=df["new_type"].unique()
print uniqueFinal

['Other' 'Carrier' 'Cargo' 'Tanker' 'Tug' 'Barge' 'Ro-Ro' 'Vessel']

In [60]:
df

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1,Annee (0),jour (0),mois (0),dist à la côte (nq),zone,lat (0),long(0),...,RPG,descriptif,latitude,longitude,quinzaine_week,newDescriptif,Guns,mousson,distance au port,new_type
0,0,1,1,2010,4,1,NaN,BCD,06:05.86S,106:54.15E,...,0,three robbers boarded the ship berthed via poo...,-6.107222,106.904167,1,three robbers boarded the ship berthed via poo...,0,0,0.922289,Other
1,1,2,2,2010,13,1,NaN,BCD,03:13S,116:23E,...,0,robbers boarded the ship at anchorage unnotice...,-3.216667,116.383333,1,robbers boarded the ship at anchorage unnotice...,0,0,11.114528,Carrier
2,2,3,3,2010,15,1,NaN,BCD,05:31.6S,105:18.0E,...,0,robbers armed with long knives boarded the shi...,-5.518333,105.300000,2,robbers armed with long knives boarded the shi...,0,0,62.997482,Cargo
3,3,4,4,2010,18,1,NaN,BCD,01:42S,116:39E,...,0,robbers boarded the ship at anchor. duty crew ...,-1.700000,116.650000,2,robbers boarded the ship at anchor. duty crew ...,0,0,57.243939,Carrier
4,4,5,5,2010,21,1,NaN,BCD,14:33.74N,120:55.24E,...,0,unnoticed robbers boarded an anchored tanker a...,14.570556,120.923333,2,unnoticed robbers boarded an anchored tanker a...,0,0,5.693581,Tanker
5,5,6,6,2010,29,1,NaN,BCD,06:00.5S,105:56.5E,...,0,four robbers in a speed boat approached an anc...,-6.001389,105.934722,2,four robbers in a speed boat approached an anc...,0,0,2.390691,Cargo
6,6,7,7,2010,6,2,NaN,BCD,03:12.10N,104:01.45E,...,0,a tug towing an empty barge with 12 crewmember...,3.202778,104.029167,3,a tug towing an empty barge with 12 crewmember...,0,0,109.911940,Tug
7,7,8,8,2010,6,2,NaN,BCD,03:12.10N,104:01.45E,...,0,a tug towing an empty barge with 12 crewmember...,3.202778,104.029167,3,a tug towing an empty barge with 12 crewmember...,0,0,109.911940,Barge
8,8,9,9,2010,13,2,NaN,BCD,01:18.4N,104:12.48E,...,0,duty oiler onboard the ship reported to duty o...,1.301111,104.213333,3,duty oiler onboard the ship reported to duty o...,0,0,28.012816,Other
9,9,10,10,2010,11,3,NaN,BCD,01:17.8N,104:10.7E,...,0,robbers armed with knives boarded the tanker a...,1.285556,104.168611,5,robbers armed with knives boarded the tanker a...,0,0,22.912042,Tanker
10,10,11,11,2010,20,3,NaN,BCD,01:18.9N,104:14.6E,...,0,five robbers armed with knives boarded the tan...,1.302500,104.235000,6,five robbers armed with knives boarded the tan...,0,0,30.160016,Tanker
11,11,12,12,2010,10,4,NaN,BCD,01:28.6S,116:48.9E,...,0,robbers boarded the tanker by breaking open th...,-1.468333,116.802500,7,robbers boarded the tanker by breaking open th...,0,0,29.747500,Tanker
12,12,13,13,2010,16,4,NaN,BCD,01:18.42N,104:12.7E,...,0,six robbers boarded an anchored tanker via the...,1.311667,104.201944,8,six robbers boarded an anchored tanker via the...,0,0,27.356717,Tanker
13,13,14,14,2010,17,4,NaN,BCD,02:32.57N,104:45.09E,...,0,about ten pirates armed with long knives board...,2.549167,104.752500,8,about ten pirates armed with long knives board...,0,0,154.165666,Tug
14,14,15,15,2010,20,4,NaN,BCD,06:02.4S,106:54.1E,...,0,four robbers armed with long knives boarded an...,-6.034444,106.900278,8,four robbers armed with long knives boarded an...,0,0,7.249637,Cargo
15,15,16,16,2010,24,4,NaN,BCD,01:18.5N,104:13.9E,...,0,six robbers armed with knives boarded the tank...,1.301389,104.219167,8,six robbers armed with knives boarded the tank...,0,0,28.581141,Tanker
16,16,17,17,2010,27,4,NaN,BCD,01:12.23N,104:45.55E,...,0,seven pirates armed with guns and knives in a ...,1.206389,104.765278,8,seven pirates armed with guns and knives in a ...,1,0,85.285365,Tug
17,17,18,18,2010,27,4,NaN,BCD,01:12.23N,104:45.55E,...,0,seven pirates armed with guns and knives in a ...,1.206389,104.765278,8,seven pirates armed with guns and knives in a ...,1,0,85.285365,Barge
18,18,19,19,2010,2,5,NaN,BCD,06:01.1S,105:55.3E,...,0,six robbers in a boat armed with knives boarde...,-6.016944,105.917500,9,six robbers in a boat armed with knives boarde...,0,0,2.521382,Tanker
19,19,20,20,2010,15,5,NaN,BCD,01:15.4N,104:10.9E,...,0,pirates in a small boat approached the tug tow...,1.251111,104.169167,10,pirates in a small boat approached the tug tow...,0,0,21.015657,Tug
20,20,21,21,2010,15,5,NaN,BCD,01:15.4N,104:10.9E,...,0,pirates in a small boat approached the tug tow...,1.251111,104.169167,10,pirates in a small boat approached the tug tow...,0,0,21.015657,Barge
21,21,22,22,2010,18,5,NaN,BCD,03:43S,114:28E,...,0,five robbers on a boat boarded the ship at anc...,-3.716667,114.466667,10,five robbers on a boat boarded the ship at anc...,0,0,45.190143,Carrier
22,22,23,23,2010,4,6,NaN,BCD,12:17.3N,100:45.7E,...,0,robbers in a speed boat boarded the ship under...,12.284167,100.751944,11,robbers in a speed boat boarded the ship under...,0,1,42.576110,Cargo
23,23,24,24,2010,28,6,NaN,BCD,01:06N,103:44E,...,0,five persons in a rubber boat armed with long ...,1.100000,103.733333,12,five persons in a rubber boat armed with long ...,1,1,16.586212,Tug
24,24,25,25,2010,28,6,NaN,BCD,01:06N,103:44E,...,0,five persons in a rubber boat armed with long ...,1.100000,103.733333,12,five persons in a rubber boat armed with long ...,1,1,16.586212,Barge
25,25,26,26,2010,7,7,NaN,BCD,01:19.5N,104:15.6E,...,0,crew members on deck patrol noticed a small mo...,1.318056,104.251667,13,crew members on deck patrol noticed a small mo...,0,1,32.528259,Tanker
26,26,27,27,2010,13,7,NaN,BCD,01:59N,109:00E,...,0,eight pirates in a speed boat armed with pisto...,1.983333,109.000000,13,eight pirates in a speed boat armed with pisto...,1,1,220.605458,Cargo
27,27,28,28,2010,18,7,NaN,BCD,03:55N,098:46E,...,0,unnoticed robbers boarded the ship at anchor. ...,3.916667,98.766667,14,unnoticed robbers boarded the ship at anchor. ...,0,1,18.459360,Other
28,28,29,29,2010,22,7,NaN,BCD,01:23.51N,104:30.98E,...,0,five pirates armed with guns and knives boarde...,1.397500,104.527222,14,five pirates armed with guns and knives boarde...,1,1,62.402173,Carrier
29,29,30,30,2010,31,7,NaN,BCD,13:44.3N,121:01.7E,...,0,three robbers in a small craft approached the ...,13.734167,121.018611,14,three robbers in a small craft approached the ...,0,1,29.738553,Tanker
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2158,2158,2159,2159,2014,25,8,NaN,BCD,06:01S,106:53E,...,0,three persons in a wooden boat approached an a...,-6.016667,106.883333,16,three persons in a wooden boat approached an a...,0,1,9.398435,Tanker
2159,2159,2160,2160,2014,18,4,NaN,BCD,09:53.3N,076:08.5E,...,0,three robbers in a small boat approached and a...,9.884167,76.134722,8,three robbers in a small boat approached and a...,0,0,17.106621,Tanker
2160,2160,2161,2161,2014,10,5,NaN,BCD,22:13.4N,091:45.9E,...,0,15 robbers in a wooden boat approached an anch...,22.217778,91.752500,9,15 robbers in a wooden boat approached an anch...,0,0,356.086317,Tanker
2161,2161,2162,2162,2014,17,1,NaN,BCD,15:06N,054:23E,...,0,"pirates in a skiff, launched from a recently h...",15.100000,54.383333,2,"pirates in a skiff, launched from a recently h...",0,0,208.445785,Tanker
2162,2162,2163,2163,2014,13,2,NaN,BCD,01:07N,044:34E,...,0,five persons armed with guns chased and fired ...,1.116667,44.566667,3,five persons armed with guns chased and fired ...,1,0,133.686121,Ro-Ro
2163,2163,2164,2164,2014,13,4,NaN,BCD,13:58.9N,055:32.3E,...,0,four pirates in a skiff approached the tanker ...,13.969167,55.534167,7,four pirates in a skiff approached the tanker ...,0,0,367.842442,Tanker
2164,2164,2165,2165,2014,8,2,NaN,BCD,12:24N,043:32E,...,0,twelve pirates in three skiffs approached the ...,12.400000,43.533333,3,twelve pirates in three skiffs approached the ...,0,0,99.452608,Cargo
2165,2165,2166,2166,2014,7,3,NaN,BCD,14:20N,053:19E,...,0,three skiffs chased and approached the ship. m...,14.333333,53.316667,5,three skiffs chased and approached the ship. m...,0,0,299.115593,Ro-Ro
2166,2166,2167,2167,2014,23,3,NaN,BCD,13:18N,042:52E,...,0,five skiffs with three pirates in each approac...,13.300000,42.866667,6,five skiffs with three pirates in each approac...,0,0,169.800652,Tanker
2167,2167,2168,2168,2014,5,4,NaN,BCD,12:35.5N,043:26.0E,...,0,five persons in a skiff approached the tanker ...,12.584722,43.433333,7,five persons in a skiff approached the tanker ...,0,0,114.257689,Tanker
2168,2168,2169,2169,2014,14,4,NaN,BCD,12:25N,043:43E,...,1,seven pirates in a white-blue coloured skiff a...,12.416667,43.716667,7,seven pirates in a white-blue coloured skiff a...,0,0,111.493422,Tanker
2169,2169,2170,2170,2014,17,4,NaN,BCD,12:24N,043:42E,...,0,five armed pirates in a skiff approached the s...,12.400000,43.700000,8,five armed pirates in a skiff approached the s...,0,0,108.937666,Carrier
2170,2170,2171,2171,2014,18,8,NaN,BCD,12:52.6N,043:14.2E,...,0,"while underway, the ship noticed four skiffs a...",12.868333,43.233889,16,"while underway, the ship noticed four skiffs a...",0,1,140.886865,Carrier
2171,2171,2172,2172,2014,30,12,NaN,BCD,15:06N,042:00E,...,0,"two skiffs, one with six pirates and the other...",15.100000,42.000000,24,"two skiffs, one with six pirates and the other...",0,0,104.641940,Tanker
2172,2172,2173,2173,2014,5,2,NaN,A,03:46N,006:24E,...,0,watchmen on a drifting tanker sighted a skiff ...,3.766667,6.400000,3,watchmen on a drifting tanker sighted a skiff ...,1,0,110.006758,Tanker
2173,2173,2174,2174,2014,19,2,NaN,A,03:57N,005:18E,...,0,six pirates in a small boat approached the tan...,3.950000,5.300000,4,six pirates in a small boat approached the tan...,0,0,179.791231,Tanker
2174,2174,2175,2175,2014,4,3,NaN,A,04:00.2N,005:16.6E,...,0,"armed pirates in two skiffs chased, fired upon...",4.000556,5.268333,5,"armed pirates in two skiffs chased, fired upon...",0,0,175.411079,Carrier
2175,2175,2176,2176,2014,20,3,NaN,A,04:14N,005:00E,...,0,a speedboat with four pirates on board armed w...,4.233333,5.000000,6,a speedboat with four pirates on board armed w...,1,0,163.571551,Tanker
2176,2176,2177,2177,2014,23,4,NaN,A,06:17N,003:21E,...,0,three persons in a skiff approached an anchore...,6.283333,3.350000,8,three persons in a skiff approached an anchore...,0,0,16.588184,Tanker
2177,2177,2178,2178,2014,21,5,NaN,A,06:03N,001:14E,...,0,a boat with eight robbers armed with long kniv...,6.050000,1.233333,10,a boat with eight robbers armed with long kniv...,0,0,10.749890,Tanker
2178,2178,2179,2179,2014,2,6,NaN,A,04:49N,008:18E,...,0,two speedboats with armed persons approached a...,4.816667,8.300000,11,two speedboats with armed persons approached a...,0,1,22.193605,Carrier
2179,2179,2180,2180,2014,10,6,NaN,A,06:01N,001:18E,...,0,a wooden boat with seven suspected robbers on ...,6.016667,1.300000,11,a wooden boat with seven suspected robbers on ...,0,1,13.033033,Other
2180,2180,2181,2181,2014,4,8,NaN,A,05:49S,013:28E,...,0,two robbers in a small boat approached and att...,-5.816667,13.466667,15,two robbers in a small boat approached and att...,0,1,129.794521,Carrier
2181,2181,2182,2182,2014,9,8,NaN,A,02:59N,002:55E,...,0,armed pirates in three skiffs chased and fired...,2.983333,2.916667,15,armed pirates in three skiffs chased and fired...,0,1,376.133984,Tanker
2182,2182,2183,2183,2014,26,8,NaN,A,04:08.10N,005:33.50E,...,0,seven pirates armed with guns in a five-meter ...,4.136111,5.563889,16,seven pirates armed with guns in a five-meter ...,1,1,153.817527,Tanker
2183,2183,2184,2184,2014,4,11,NaN,A,04:03N,005:28E,...,0,about five to six pirates in a boat approached...,4.050000,5.466667,21,about five to six pirates in a boat approached...,0,0,164.862682,Other
2184,2184,2185,2185,2014,8,11,NaN,A,04:24N,005:03E,...,0,around eight pirates heavily armed with machin...,4.400000,5.050000,21,around eight pirates heavily armed with machin...,1,0,144.884577,Tanker
2185,2185,2186,2186,2014,30,11,NaN,A,00:45S,006:15E,...,0,master onboard the tanker underway observed a ...,-0.750000,6.250000,22,master onboard the tanker underway observed a ...,1,0,274.871042,Tanker
2186,2186,2187,2187,2014,30,3,NaN,BCD,26:24.4N,056:41.8E,...,0,six persons in a skiff armed with machine gun ...,26.401111,56.685556,6,six persons in a skiff armed with machine gun ...,1,0,55.107578,Tanker
2187,2187,2188,2188,2014,25,9,NaN,BCD,26:15N,056:45E,...,0,the chief officer onboard the tanker sighted a...,26.250000,56.750000,18,the chief officer onboard the tanker sighted a...,0,1,72.945637,Tanker

# Ecriture dans le fichier

In [61]:
df.to_csv("../data/donneesBrutesPirateriesLatLon.csv",sep=';')