In [60]:
import pandas as pd
from geopy.distance import vincenty

In [61]:
shorlineAden = pd.read_csv('./data/shorlineAden.csv',sep=';')
df = pd.read_csv('./data/donneesBrutesPirateriesLatLon.csv',sep=';')

In [105]:
shorlineAden.head()
len(shorlineAden)

63028

In [106]:
dfAden=df[(df.latitude<31.) & (df.latitude>-10.) & (df.longitude>31.) & (df.longitude<78.)]
print len(dfAden)
#print dfAden.head()

909

In [64]:
shorlineAden=shorlineAden.replace({',': '.'}, regex=True)
#object to numeric
shorlineAden['latitude']=shorlineAden['latitude'].convert_objects(convert_numeric=True)
shorlineAden['longitude']=shorlineAden['longitude'].convert_objects(convert_numeric=True)

/Users/romainphilippe/app/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:3: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  app.launch_new_instance()
/Users/romainphilippe/app/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:4: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.

In [108]:
lon=61.616667
lat=10.783333
threshold=10

#print shorlineAdenCurrent=shorlineAden[(shorlineAden.latitude<lat+threshold)

def get_distance(lat, lon):
    tab=[]
    pointAttack=(lat, lon)
    print pointAttack
    shorlineAdenCurrent=shorlineAden[(shorlineAden.latitude<lat+threshold) & (shorlineAden.latitude>lat-threshold) & (shorlineAden.longitude>lon-threshold) & (shorlineAden.longitude<lon+threshold)]
    #print 'len shorlineAdenCurrent'
    length=len(shorlineAdenCurrent)
    print length
    for index in range(0,length):
        pointCoast= (shorlineAdenCurrent.iloc[index]['latitude'], shorlineAdenCurrent.iloc[index]['longitude'])
        distance =vincenty(pointCoast, pointAttack).kilometers
        #print distance
        tab.append(distance)
    #print tab
    return min(tab)

print 'distance : ' +str(get_distance(lat, lon))

(10.783333, 61.616667)
3342
distance : 796.381175941

In [113]:
headDf=dfAden.head(10)

In [114]:
headDf.apply(lambda row: get_distance(row['latitude'], row['longitude']), axis=1)

(10.7833333333, 61.6166666667)
3342
(-5.23333333333, 42.6166666667)
8849
(-9.583333333330001, 44.3)
7692
(11.6980555556, 66.0938888889)
5672
(17.4666666667, 56.7)
24684
(10.5666666667, 57.55)
5982
(8.35, 65.0)
1952
(12.3833333333, 60.35)
4727
(-4.98333333333, 43.8666666667)
8909
(-4.75, 51.0)
4500

128     796.381131
129     305.174046
130     221.696589
131     925.841311
132      62.261858
133     395.010618
134    1184.201993
135     632.512335
136     437.675337
137     467.709155
dtype: float64

In [ ]:
dfAden['distance_shorline']=dfAden.apply(lambda row: get_distance(row['latitude'], row['longitude']), axis=1)

(10.7833333333, 61.6166666667)
3342
(-5.23333333333, 42.6166666667)
8849
(-9.583333333330001, 44.3)
7692
(11.6980555556, 66.0938888889)
5672
(17.4666666667, 56.7)
24684
(10.5666666667, 57.55)
5982
(8.35, 65.0)
1952
(12.3833333333, 60.35)
4727
(-4.98333333333, 43.8666666667)
8909
(-4.75, 51.0)
4500
(9.48333333333, 69.3)
3246
(9.48333333333, 69.3)
3246
(9.48333333333, 69.3)
3246
(12.251944444400001, 59.5005555556)
5052
(1.8333333333300001, 67.8333333333)
760
(15.916666666700001, 60.8333333333)
18283
(7.4, 64.8333333333)
1348
(-7.11666666667, 41.0333333333)
8300
(-1.6666666666699999, 41.7172222222)
7177
(-3.46666666667, 40.8166666667)
9196
(8.183333333330001, 67.9333333333)
2357
(-4.23333333333, 41.3166666667)
9118
(3.48333333333, 59.5833333333)
3182
(12.1333333333, 54.4166666667)
8414
(12.2, 64.8833333333)
5909
(15.1, 55.9666666667)
12139
(-9.95, 42.3166666667)
7681
(-5.25, 43.65)
8846
(11.433333333299998, 66.0833333333)
5388
(17.2166666667, 65.0166666667)
22068

In [ ]:
newport_ri = (41.49008, -71.312796)
cleveland_oh = (41.499498, -81.695391)
print(vincenty(newport_ri, cleveland_oh).miles)

In [ ]:
dfAden.to_csv("./data/aden.csv",sep=';', encoding='utf-8')