In [19]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import label_binarize

In [20]:
df = pd.read_csv('../data/aden.csv',sep=';')

In [21]:
max_quinzaine=24
max_area_lat=45
max_area_lon=53
number_grid=(max_area_lat+1)*(max_area_lon+1)
print number_grid

2484

In [22]:
df.columns

Index([u'Unnamed: 0', u'Unnamed: 0.1', u'Unnamed: 0.1', u'Annee (0)',
       u'jour (0)', u'mois (0)', u'dist cote (nq)', u'zone', u'lat (0)',
       u'long(0)', u'type(0)', u'pavillon', u'statut de l'attaque(0)',
       u'type d'attaque(0)', u'Nombre P  Min', u'Nombre P  max',
       u'nombre embarcation', u'Vol a bord', u' Kidnapping', u'blessees',
       u' meurtre', u'Knives ', u'RPG', u'descriptif', u'latitude',
       u'longitude', u'quinzaine_week', u'newDescriptif', u'Guns', u'mousson',
       u'distance au port', u'distance_shorline', u'lat_area', u'lon_area'],
      dtype='object')

# Version 1

In [5]:
df['area'] = df.apply(lambda row: str(row['lat_area'])+'_'+str(row['lon_area']), axis=1)

## Creation d'un data frame vide

In [6]:
dfAgregateTotal=pd.DataFrame({'count' : df.groupby( [ "Annee (0)","quinzaine_week","area"] ).size()}).reset_index()

In [7]:
specifecArea=pd.DataFrame(dfAgregateTotal['area'].str.split('_',1).tolist(),columns = ['lat_area','lon_area'])
dfAgregateTotal=pd.concat([dfAgregateTotal, specifecArea], axis=1)
print dfAgregateTotal.head()

   Annee (0)  quinzaine_week   area  count lat_area lon_area
0       2008               3  24_22      2       24       22
1       2008               3  35_41      1       35       41
2       2008               3    3_9      1        3        9
3       2008               3    5_9      1        5        9
4       2008               5  15_29      1       15       29

In [8]:
uniqueYears=dfAgregateTotal['Annee (0)'].unique()
Colyears=np.repeat(uniqueYears, 24*(max_area_lon+1)*(max_area_lat+1))

TwoweekRepeat=np.repeat(np.linspace(1, max_quinzaine, num=max_quinzaine), (max_area_lon+1)*(max_area_lat+1))
ColTwoweek=np.tile(TwoweekRepeat, len(uniqueYears))

latRepeat=np.linspace(0, max_area_lat,num=max_area_lat+1)
ColLatArea=np.repeat(latRepeat, max_area_lon+1)
ColLatArea=np.tile(ColLatArea, max_quinzaine)
ColLatArea=np.tile(ColLatArea, len(uniqueYears))

#print ColLatArea

lonRepeat=np.tile(np.linspace(0, max_area_lon, num=max_area_lon+1),max_area_lat+1)
ColLonArea=np.tile(lonRepeat, max_quinzaine)
ColLonArea=np.tile(ColLonArea, len(uniqueYears))

print ColLonArea

count=np.repeat(0, len(Colyears))

print len(Colyears)
print len(ColTwoweek)
print len(ColLatArea)
print len(ColLonArea)

[  0.   1.   2. ...,  51.  52.  53.]
417312
417312
417312
417312

## Fill the matrice

In [9]:
#columns = ['Years','2_week', 'lat_area','lon_area','count']
#matriceML=pd.DataFrame(columns=columns)
#matriceML = matriceML.fillna(0)

dic = {'Years': Colyears, 
     '2_week': ColTwoweek, 
     'lat_area': ColLatArea,
     'lon_area': ColLonArea,
     'count': count
      }

dfFinal= pd.DataFrame(dic)

dfFinal['lat_area']=dfFinal['lat_area'].astype(int).astype('str')
dfFinal['lon_area']=dfFinal['lon_area'].astype(int).astype('str')

print dfFinal.head()

   2_week  Years  count lat_area lon_area
0       1   2008      0        0        0
1       1   2008      0        0        1
2       1   2008      0        0        2
3       1   2008      0        0        3
4       1   2008      0        0        4

In [10]:
for index, row in dfAgregateTotal.iterrows():
    if index%100==0:
        print index
    #print row['Annee (0)'], row['quinzaine_week'], row['count'] ,  row['lat_area'] , row['lon_area'] 
    idx=dfFinal[(dfFinal['Years']==row['Annee (0)']) & (dfFinal['lat_area']==row['lat_area']) & (dfFinal['lon_area']==row['lon_area'] )& (dfFinal['2_week']==row['quinzaine_week'])]
    #print 'index : '+str(idx.index.values)
    #print 'count : '+str(row['count'])
    dfFinal.set_value(idx.index.values, 'count',row['count'])

0
100
200
300
400
500
600
700

In [46]:
dfFinal['count'].sum()

909

## Write matrice in a file

In [47]:
dfFinal.to_csv("../data/adenMatrix.csv",sep=';', encoding='utf-8', index=False)

#

# Version 2

In [36]:
dfAgregateTotal2=pd.DataFrame({'count' : df.groupby( [ "Annee (0)","quinzaine_week","type d'attaque(0)"] ).size()}).reset_index()
dfAgregateTotal2.head()

   Annee (0)  quinzaine_week type d'attaque(0)  count
0       2008               3           Boarded      3
1       2008               3        Fired upon      1
2       2008               3          Hijacked      1
3       2008               5         Attempted      1
4       2008               5           Boarded      2

In [37]:
unique_years=dfAgregateTotal2['Annee (0)'].unique()

unique_type=dfAgregateTotal2['type d\'attaque(0)'].unique()

print unique_years
print unique_type

[2008 2009 2010 2011 2012 2013 2014]
['Boarded' 'Fired upon' 'Hijacked' 'Attempted']

In [38]:
col_years=np.repeat(unique_years, max_quinzaine*4)
print len(col_years)

two_week_repeat=np.linspace(1, max_quinzaine, num=max_quinzaine)
print np.repeat(two_week_repeat,4)
col_two_week=np.tile(np.repeat(two_week_repeat,4), len(uniqueYears))
print len(col_two_week)

col_type=np.tile(unique_type, max_quinzaine*len(unique_years))
print len(col_type)



col_count=np.repeat(0, len(col_two_week))


dic2 = {'Years': col_years, 
     '2_week': col_two_week, 
     'count': col_count,
     'type_attack': col_type
      }

dfFinal_2= pd.DataFrame(dic2)




#for i in range(0,max_area_lat+1):
#    colName='lat_area_'+str(i)
#    #print colName
#    dfFinal_2[colName]=0

#for i in range(0,max_area_lon+1):
#    colName='lon_area_'+str(i)
#    #print colName
#    dfFinal_2[colName]=0

672
[  1.   1.   1.   1.   2.   2.   2.   2.   3.   3.   3.   3.   4.   4.   4.
   4.   5.   5.   5.   5.   6.   6.   6.   6.   7.   7.   7.   7.   8.   8.
   8.   8.   9.   9.   9.   9.  10.  10.  10.  10.  11.  11.  11.  11.  12.
  12.  12.  12.  13.  13.  13.  13.  14.  14.  14.  14.  15.  15.  15.  15.
  16.  16.  16.  16.  17.  17.  17.  17.  18.  18.  18.  18.  19.  19.  19.
  19.  20.  20.  20.  20.  21.  21.  21.  21.  22.  22.  22.  22.  23.  23.
  23.  23.  24.  24.  24.  24.]
672
672

## Matrix empty

In [39]:
dfFinal_2.head()

   2_week  Years  count type_attack
0       1   2008      0     Boarded
1       1   2008      0  Fired upon
2       1   2008      0    Hijacked
3       1   2008      0   Attempted
4       2   2008      0     Boarded

# Fill matrice

In [40]:
for index, row in dfAgregateTotal2.iterrows():

    print 'Years '+str(row['Annee (0)']),'2_week : '+str( row['quinzaine_week']),'count : '+str(row['count']),'type_attack : '+str(row['type d\'attaque(0)'])

    idx=dfFinal_2[(dfFinal_2['Years']==row['Annee (0)']) & (dfFinal_2['2_week']==row['quinzaine_week'])& (dfFinal_2['type_attack']==row['type d\'attaque(0)'])]
    print 'index : '+str(idx.index.values)
    print 'count : '+str(row['count'])
    dfFinal_2.set_value(idx.index.values, 'count',row['count'])

Years 2008 2_week : 3.0 count : 3 type_attack : Boarded
index : [8]
count : 3
Years 2008 2_week : 3.0 count : 1 type_attack : Fired upon
index : [9]
count : 1
Years 2008 2_week : 3.0 count : 1 type_attack : Hijacked
index : [10]
count : 1
Years 2008 2_week : 5.0 count : 1 type_attack : Attempted
index : [19]
count : 1
Years 2008 2_week : 5.0 count : 2 type_attack : Boarded
index : [16]
count : 2
Years 2008 2_week : 6.0 count : 1 type_attack : Attempted
index : [23]
count : 1
Years 2008 2_week : 6.0 count : 3 type_attack : Boarded
index : [20]
count : 3
Years 2008 2_week : 6.0 count : 1 type_attack : Fired upon
index : [21]
count : 1
Years 2008 2_week : 7.0 count : 1 type_attack : Boarded
index : [24]
count : 1
Years 2008 2_week : 7.0 count : 1 type_attack : Fired upon
index : [25]
count : 1
Years 2008 2_week : 7.0 count : 2 type_attack : Hijacked
index : [26]
count : 2
Years 2008 2_week : 8.0 count : 2 type_attack : Attempted
index : [31]
count : 2
Years 2008 2_week : 8.0 count : 1 type_attack : Boarded
index : [28]
count : 1
Years 2008 2_week : 8.0 count : 2 type_attack : Fired upon
index : [29]
count : 2
Years 2008 2_week : 8.0 count : 1 type_attack : Hijacked
index : [30]
count : 1
Years 2008 2_week : 9.0 count : 1 type_attack : Fired upon
index : [33]
count : 1
Years 2008 2_week : 10.0 count : 2 type_attack : Attempted
index : [39]
count : 2
Years 2008 2_week : 10.0 count : 2 type_attack : Fired upon
index : [37]
count : 2
Years 2008 2_week : 10.0 count : 3 type_attack : Hijacked
index : [38]
count : 3
Years 2008 2_week : 11.0 count : 1 type_attack : Fired upon
index : [41]
count : 1
Years 2008 2_week : 12.0 count : 1 type_attack : Attempted
index : [47]
count : 1
Years 2008 2_week : 13.0 count : 1 type_attack : Attempted
index : [51]
count : 1
Years 2008 2_week : 14.0 count : 1 type_attack : Attempted
index : [55]
count : 1
Years 2008 2_week : 14.0 count : 1 type_attack : Boarded
index : [52]
count : 1
Years 2008 2_week : 14.0 count : 1 type_attack : Fired upon
index : [53]
count : 1
Years 2008 2_week : 14.0 count : 1 type_attack : Hijacked
index : [54]
count : 1
Years 2008 2_week : 15.0 count : 1 type_attack : Fired upon
index : [57]
count : 1
Years 2008 2_week : 15.0 count : 1 type_attack : Hijacked
index : [58]
count : 1
Years 2008 2_week : 16.0 count : 4 type_attack : Boarded
index : [60]
count : 4
Years 2008 2_week : 16.0 count : 2 type_attack : Fired upon
index : [61]
count : 2
Years 2008 2_week : 16.0 count : 5 type_attack : Hijacked
index : [62]
count : 5
Years 2008 2_week : 17.0 count : 5 type_attack : Attempted
index : [67]
count : 5
Years 2008 2_week : 17.0 count : 1 type_attack : Boarded
index : [64]
count : 1
Years 2008 2_week : 17.0 count : 7 type_attack : Fired upon
index : [65]
count : 7
Years 2008 2_week : 17.0 count : 3 type_attack : Hijacked
index : [66]
count : 3
Years 2008 2_week : 18.0 count : 2 type_attack : Attempted
index : [71]
count : 2
Years 2008 2_week : 18.0 count : 3 type_attack : Boarded
index : [68]
count : 3
Years 2008 2_week : 18.0 count : 1 type_attack : Fired upon
index : [69]
count : 1
Years 2008 2_week : 18.0 count : 6 type_attack : Hijacked
index : [70]
count : 6
Years 2008 2_week : 19.0 count : 5 type_attack : Attempted
index : [75]
count : 5
Years 2008 2_week : 19.0 count : 2 type_attack : Fired upon
index : [73]
count : 2
Years 2008 2_week : 19.0 count : 3 type_attack : Hijacked
index : [74]
count : 3
Years 2008 2_week : 20.0 count : 2 type_attack : Attempted
index : [79]
count : 2
Years 2008 2_week : 20.0 count : 4 type_attack : Fired upon
index : [77]
count : 4
Years 2008 2_week : 20.0 count : 2 type_attack : Hijacked
index : [78]
count : 2
Years 2008 2_week : 21.0 count : 3 type_attack : Attempted
index : [83]
count : 3
Years 2008 2_week : 21.0 count : 5 type_attack : Fired upon
index : [81]
count : 5
Years 2008 2_week : 21.0 count : 3 type_attack : Hijacked
index : [82]
count : 3
Years 2008 2_week : 22.0 count : 2 type_attack : Attempted
index : [87]
count : 2
Years 2008 2_week : 22.0 count : 2 type_attack : Fired upon
index : [85]
count : 2
Years 2008 2_week : 22.0 count : 5 type_attack : Hijacked
index : [86]
count : 5
Years 2008 2_week : 23.0 count : 1 type_attack : Attempted
index : [91]
count : 1
Years 2008 2_week : 23.0 count : 4 type_attack : Fired upon
index : [89]
count : 4
Years 2008 2_week : 24.0 count : 1 type_attack : Boarded
index : [92]
count : 1
Years 2008 2_week : 24.0 count : 2 type_attack : Fired upon
index : [93]
count : 2
Years 2008 2_week : 24.0 count : 3 type_attack : Hijacked
index : [94]
count : 3
Years 2009 2_week : 1.0 count : 7 type_attack : Attempted
index : [99]
count : 7
Years 2009 2_week : 1.0 count : 1 type_attack : Boarded
index : [96]
count : 1
Years 2009 2_week : 1.0 count : 8 type_attack : Fired upon
index : [97]
count : 8
Years 2009 2_week : 1.0 count : 2 type_attack : Hijacked
index : [98]
count : 2
Years 2009 2_week : 2.0 count : 2 type_attack : Attempted
index : [103]
count : 2
Years 2009 2_week : 2.0 count : 1 type_attack : Hijacked
index : [102]
count : 1
Years 2009 2_week : 3.0 count : 1 type_attack : Attempted
index : [107]
count : 1
Years 2009 2_week : 3.0 count : 1 type_attack : Boarded
index : [104]
count : 1
Years 2009 2_week : 3.0 count : 3 type_attack : Fired upon
index : [105]
count : 3
Years 2009 2_week : 4.0 count : 3 type_attack : Attempted
index : [111]
count : 3
Years 2009 2_week : 4.0 count : 2 type_attack : Fired upon
index : [109]
count : 2
Years 2009 2_week : 4.0 count : 1 type_attack : Hijacked
index : [110]
count : 1
Years 2009 2_week : 5.0 count : 4 type_attack : Attempted
index : [115]
count : 4
Years 2009 2_week : 5.0 count : 6 type_attack : Fired upon
index : [113]
count : 6
Years 2009 2_week : 6.0 count : 9 type_attack : Attempted
index : [119]
count : 9
Years 2009 2_week : 6.0 count : 1 type_attack : Boarded
index : [116]
count : 1
Years 2009 2_week : 6.0 count : 7 type_attack : Fired upon
index : [117]
count : 7
Years 2009 2_week : 6.0 count : 3 type_attack : Hijacked
index : [118]
count : 3
Years 2009 2_week : 7.0 count : 2 type_attack : Attempted
index : [123]
count : 2
Years 2009 2_week : 7.0 count : 1 type_attack : Boarded
index : [120]
count : 1
Years 2009 2_week : 7.0 count : 9 type_attack : Fired upon
index : [121]
count : 9
Years 2009 2_week : 7.0 count : 8 type_attack : Hijacked
index : [122]
count : 8
Years 2009 2_week : 8.0 count : 2 type_attack : Attempted
index : [127]
count : 2
Years 2009 2_week : 8.0 count : 1 type_attack : Boarded
index : [124]
count : 1
Years 2009 2_week : 8.0 count : 12 type_attack : Fired upon
index : [125]
count : 12
Years 2009 2_week : 8.0 count : 3 type_attack : Hijacked
index : [126]
count : 3
Years 2009 2_week : 9.0 count : 4 type_attack : Attempted
index : [131]
count : 4
Years 2009 2_week : 9.0 count : 2 type_attack : Boarded
index : [128]
count : 2
Years 2009 2_week : 9.0 count : 9 type_attack : Fired upon
index : [129]
count : 9
Years 2009 2_week : 9.0 count : 4 type_attack : Hijacked
index : [130]
count : 4
Years 2009 2_week : 10.0 count : 6 type_attack : Attempted
index : [135]
count : 6
Years 2009 2_week : 10.0 count : 7 type_attack : Fired upon
index : [133]
count : 7
Years 2009 2_week : 11.0 count : 3 type_attack : Attempted
index : [139]
count : 3
Years 2009 2_week : 11.0 count : 6 type_attack : Fired upon
index : [137]
count : 6
Years 2009 2_week : 11.0 count : 1 type_attack : Hijacked
index : [138]
count : 1
Years 2009 2_week : 12.0 count : 2 type_attack : Attempted
index : [143]
count : 2
Years 2009 2_week : 12.0 count : 3 type_attack : Fired upon
index : [141]
count : 3
Years 2009 2_week : 13.0 count : 2 type_attack : Fired upon
index : [145]
count : 2
Years 2009 2_week : 13.0 count : 1 type_attack : Hijacked
index : [146]
count : 1
Years 2009 2_week : 15.0 count : 3 type_attack : Fired upon
index : [153]
count : 3
Years 2009 2_week : 16.0 count : 2 type_attack : Fired upon
index : [157]
count : 2
Years 2009 2_week : 17.0 count : 1 type_attack : Fired upon
index : [161]
count : 1
Years 2009 2_week : 18.0 count : 6 type_attack : Attempted
index : [167]
count : 6
Years 2009 2_week : 18.0 count : 4 type_attack : Fired upon
index : [165]
count : 4
Years 2009 2_week : 19.0 count : 3 type_attack : Attempted
index : [171]
count : 3
Years 2009 2_week : 19.0 count : 2 type_attack : Fired upon
index : [169]
count : 2
Years 2009 2_week : 19.0 count : 1 type_attack : Hijacked
index : [170]
count : 1
Years 2009 2_week : 20.0 count : 5 type_attack : Fired upon
index : [173]
count : 5
Years 2009 2_week : 20.0 count : 4 type_attack : Hijacked
index : [174]
count : 4
Years 2009 2_week : 21.0 count : 1 type_attack : Attempted
index : [179]
count : 1
Years 2009 2_week : 21.0 count : 10 type_attack : Fired upon
index : [177]
count : 10
Years 2009 2_week : 21.0 count : 2 type_attack : Hijacked
index : [178]
count : 2
Years 2009 2_week : 22.0 count : 7 type_attack : Fired upon
index : [181]
count : 7
Years 2009 2_week : 22.0 count : 2 type_attack : Hijacked
index : [182]
count : 2
Years 2009 2_week : 23.0 count : 4 type_attack : Fired upon
index : [185]
count : 4
Years 2009 2_week : 23.0 count : 1 type_attack : Hijacked
index : [186]
count : 1
Years 2009 2_week : 24.0 count : 1 type_attack : Attempted
index : [191]
count : 1
Years 2009 2_week : 24.0 count : 1 type_attack : Boarded
index : [188]
count : 1
Years 2009 2_week : 24.0 count : 1 type_attack : Fired upon
index : [189]
count : 1
Years 2009 2_week : 24.0 count : 3 type_attack : Hijacked
index : [190]
count : 3
Years 2010 2_week : 1.0 count : 2 type_attack : Hijacked
index : [194]
count : 2
Years 2010 2_week : 2.0 count : 2 type_attack : Fired upon
index : [197]
count : 2
Years 2010 2_week : 3.0 count : 1 type_attack : Boarded
index : [200]
count : 1
Years 2010 2_week : 3.0 count : 1 type_attack : Hijacked
index : [202]
count : 1
Years 2010 2_week : 4.0 count : 2 type_attack : Attempted
index : [207]
count : 2
Years 2010 2_week : 5.0 count : 5 type_attack : Attempted
index : [211]
count : 5
Years 2010 2_week : 5.0 count : 3 type_attack : Fired upon
index : [209]
count : 3
Years 2010 2_week : 5.0 count : 2 type_attack : Hijacked
index : [210]
count : 2
Years 2010 2_week : 6.0 count : 4 type_attack : Attempted
index : [215]
count : 4
Years 2010 2_week : 6.0 count : 11 type_attack : Fired upon
index : [213]
count : 11
Years 2010 2_week : 6.0 count : 4 type_attack : Hijacked
index : [214]
count : 4
Years 2010 2_week : 7.0 count : 3 type_attack : Attempted
index : [219]
count : 3
Years 2010 2_week : 7.0 count : 2 type_attack : Boarded
index : [216]
count : 2
Years 2010 2_week : 7.0 count : 8 type_attack : Fired upon
index : [217]
count : 8
Years 2010 2_week : 7.0 count : 2 type_attack : Hijacked
index : [218]
count : 2
Years 2010 2_week : 8.0 count : 2 type_attack : Attempted
index : [223]
count : 2
Years 2010 2_week : 8.0 count : 6 type_attack : Fired upon
index : [221]
count : 6
Years 2010 2_week : 8.0 count : 4 type_attack : Hijacked
index : [222]
count : 4
Years 2010 2_week : 9.0 count : 1 type_attack : Attempted
index : [227]
count : 1
Years 2010 2_week : 9.0 count : 1 type_attack : Boarded
index : [224]
count : 1
Years 2010 2_week : 9.0 count : 5 type_attack : Fired upon
index : [225]
count : 5
Years 2010 2_week : 9.0 count : 4 type_attack : Hijacked
index : [226]
count : 4
Years 2010 2_week : 10.0 count : 2 type_attack : Attempted
index : [231]
count : 2
Years 2010 2_week : 10.0 count : 1 type_attack : Boarded
index : [228]
count : 1
Years 2010 2_week : 10.0 count : 3 type_attack : Fired upon
index : [229]
count : 3
Years 2010 2_week : 11.0 count : 5 type_attack : Attempted
index : [235]
count : 5
Years 2010 2_week : 11.0 count : 1 type_attack : Fired upon
index : [233]
count : 1
Years 2010 2_week : 11.0 count : 1 type_attack : Hijacked
index : [234]
count : 1
Years 2010 2_week : 12.0 count : 4 type_attack : Attempted
index : [239]
count : 4
Years 2010 2_week : 12.0 count : 3 type_attack : Fired upon
index : [237]
count : 3
Years 2010 2_week : 12.0 count : 1 type_attack : Hijacked
index : [238]
count : 1
Years 2010 2_week : 13.0 count : 3 type_attack : Attempted
index : [243]
count : 3
Years 2010 2_week : 13.0 count : 1 type_attack : Hijacked
index : [242]
count : 1
Years 2010 2_week : 14.0 count : 1 type_attack : Attempted
index : [247]
count : 1
Years 2010 2_week : 15.0 count : 5 type_attack : Attempted
index : [251]
count : 5
Years 2010 2_week : 15.0 count : 2 type_attack : Boarded
index : [248]
count : 2
Years 2010 2_week : 15.0 count : 1 type_attack : Fired upon
index : [249]
count : 1
Years 2010 2_week : 15.0 count : 2 type_attack : Hijacked
index : [250]
count : 2
Years 2010 2_week : 16.0 count : 3 type_attack : Attempted
index : [255]
count : 3
Years 2010 2_week : 16.0 count : 1 type_attack : Fired upon
index : [253]
count : 1
Years 2010 2_week : 17.0 count : 2 type_attack : Attempted
index : [259]
count : 2
Years 2010 2_week : 17.0 count : 1 type_attack : Boarded
index : [256]
count : 1
Years 2010 2_week : 18.0 count : 1 type_attack : Attempted
index : [263]
count : 1
Years 2010 2_week : 18.0 count : 1 type_attack : Boarded
index : [260]
count : 1
Years 2010 2_week : 18.0 count : 3 type_attack : Fired upon
index : [261]
count : 3
Years 2010 2_week : 18.0 count : 1 type_attack : Hijacked
index : [262]
count : 1
Years 2010 2_week : 19.0 count : 1 type_attack : Boarded
index : [264]
count : 1
Years 2010 2_week : 19.0 count : 4 type_attack : Fired upon
index : [265]
count : 4
Years 2010 2_week : 19.0 count : 2 type_attack : Hijacked
index : [266]
count : 2
Years 2010 2_week : 20.0 count : 2 type_attack : Attempted
index : [271]
count : 2
Years 2010 2_week : 20.0 count : 3 type_attack : Boarded
index : [268]
count : 3
Years 2010 2_week : 20.0 count : 8 type_attack : Fired upon
index : [269]
count : 8
Years 2010 2_week : 20.0 count : 3 type_attack : Hijacked
index : [270]
count : 3
Years 2010 2_week : 21.0 count : 1 type_attack : Attempted
index : [275]
count : 1
Years 2010 2_week : 21.0 count : 1 type_attack : Boarded
index : [272]
count : 1
Years 2010 2_week : 21.0 count : 9 type_attack : Fired upon
index : [273]
count : 9
Years 2010 2_week : 21.0 count : 4 type_attack : Hijacked
index : [274]
count : 4
Years 2010 2_week : 22.0 count : 2 type_attack : Attempted
index : [279]
count : 2
Years 2010 2_week : 22.0 count : 4 type_attack : Boarded
index : [276]
count : 4
Years 2010 2_week : 22.0 count : 20 type_attack : Fired upon
index : [277]
count : 20
Years 2010 2_week : 22.0 count : 1 type_attack : Hijacked
index : [278]
count : 1
Years 2010 2_week : 23.0 count : 3 type_attack : Attempted
index : [283]
count : 3
Years 2010 2_week : 23.0 count : 4 type_attack : Fired upon
index : [281]
count : 4
Years 2010 2_week : 23.0 count : 3 type_attack : Hijacked
index : [282]
count : 3
Years 2010 2_week : 24.0 count : 1 type_attack : Attempted
index : [287]
count : 1
Years 2010 2_week : 24.0 count : 5 type_attack : Fired upon
index : [285]
count : 5
Years 2010 2_week : 24.0 count : 3 type_attack : Hijacked
index : [286]
count : 3
Years 2011 2_week : 1.0 count : 6 type_attack : Attempted
index : [291]
count : 6
Years 2011 2_week : 1.0 count : 3 type_attack : Boarded
index : [288]
count : 3
Years 2011 2_week : 1.0 count : 11 type_attack : Fired upon
index : [289]
count : 11
Years 2011 2_week : 1.0 count : 2 type_attack : Hijacked
index : [290]
count : 2
Years 2011 2_week : 2.0 count : 2 type_attack : Attempted
index : [295]
count : 2
Years 2011 2_week : 2.0 count : 2 type_attack : Boarded
index : [292]
count : 2
Years 2011 2_week : 2.0 count : 12 type_attack : Fired upon
index : [293]
count : 12
Years 2011 2_week : 2.0 count : 5 type_attack : Hijacked
index : [294]
count : 5
Years 2011 2_week : 3.0 count : 2 type_attack : Attempted
index : [299]
count : 2
Years 2011 2_week : 3.0 count : 6 type_attack : Fired upon
index : [297]
count : 6
Years 2011 2_week : 3.0 count : 4 type_attack : Hijacked
index : [298]
count : 4
Years 2011 2_week : 4.0 count : 4 type_attack : Attempted
index : [303]
count : 4
Years 2011 2_week : 4.0 count : 5 type_attack : Fired upon
index : [301]
count : 5
Years 2011 2_week : 4.0 count : 2 type_attack : Hijacked
index : [302]
count : 2
Years 2011 2_week : 5.0 count : 9 type_attack : Attempted
index : [307]
count : 9
Years 2011 2_week : 5.0 count : 3 type_attack : Boarded
index : [304]
count : 3
Years 2011 2_week : 5.0 count : 8 type_attack : Fired upon
index : [305]
count : 8
Years 2011 2_week : 6.0 count : 5 type_attack : Attempted
index : [311]
count : 5
Years 2011 2_week : 6.0 count : 3 type_attack : Boarded
index : [308]
count : 3
Years 2011 2_week : 6.0 count : 5 type_attack : Fired upon
index : [309]
count : 5
Years 2011 2_week : 6.0 count : 2 type_attack : Hijacked
index : [310]
count : 2
Years 2011 2_week : 7.0 count : 4 type_attack : Attempted
index : [315]
count : 4
Years 2011 2_week : 7.0 count : 1 type_attack : Boarded
index : [312]
count : 1
Years 2011 2_week : 7.0 count : 4 type_attack : Fired upon
index : [313]
count : 4
Years 2011 2_week : 7.0 count : 1 type_attack : Hijacked
index : [314]
count : 1
Years 2011 2_week : 8.0 count : 3 type_attack : Attempted
index : [319]
count : 3
Years 2011 2_week : 8.0 count : 1 type_attack : Boarded
index : [316]
count : 1
Years 2011 2_week : 8.0 count : 3 type_attack : Fired upon
index : [317]
count : 3
Years 2011 2_week : 8.0 count : 4 type_attack : Hijacked
index : [318]
count : 4
Years 2011 2_week : 9.0 count : 5 type_attack : Attempted
index : [323]
count : 5
Years 2011 2_week : 9.0 count : 1 type_attack : Boarded
index : [320]
count : 1
Years 2011 2_week : 9.0 count : 7 type_attack : Fired upon
index : [321]
count : 7
Years 2011 2_week : 10.0 count : 4 type_attack : Attempted
index : [327]
count : 4
Years 2011 2_week : 10.0 count : 2 type_attack : Boarded
index : [324]
count : 2
Years 2011 2_week : 10.0 count : 10 type_attack : Fired upon
index : [325]
count : 10
Years 2011 2_week : 11.0 count : 4 type_attack : Attempted
index : [331]
count : 4
Years 2011 2_week : 11.0 count : 5 type_attack : Fired upon
index : [329]
count : 5
Years 2011 2_week : 12.0 count : 5 type_attack : Attempted
index : [335]
count : 5
Years 2011 2_week : 12.0 count : 1 type_attack : Boarded
index : [332]
count : 1
Years 2011 2_week : 12.0 count : 1 type_attack : Fired upon
index : [333]
count : 1
Years 2011 2_week : 13.0 count : 1 type_attack : Attempted
index : [339]
count : 1
Years 2011 2_week : 13.0 count : 1 type_attack : Boarded
index : [336]
count : 1
Years 2011 2_week : 14.0 count : 7 type_attack : Attempted
index : [343]
count : 7
Years 2011 2_week : 14.0 count : 1 type_attack : Boarded
index : [340]
count : 1
Years 2011 2_week : 14.0 count : 3 type_attack : Fired upon
index : [341]
count : 3
Years 2011 2_week : 14.0 count : 1 type_attack : Hijacked
index : [342]
count : 1
Years 2011 2_week : 15.0 count : 1 type_attack : Attempted
index : [347]
count : 1
Years 2011 2_week : 15.0 count : 2 type_attack : Boarded
index : [344]
count : 2
Years 2011 2_week : 15.0 count : 3 type_attack : Fired upon
index : [345]
count : 3
Years 2011 2_week : 16.0 count : 4 type_attack : Attempted
index : [351]
count : 4
Years 2011 2_week : 16.0 count : 2 type_attack : Fired upon
index : [349]
count : 2
Years 2011 2_week : 16.0 count : 1 type_attack : Hijacked
index : [350]
count : 1
Years 2011 2_week : 17.0 count : 1 type_attack : Boarded
index : [352]
count : 1
Years 2011 2_week : 17.0 count : 1 type_attack : Hijacked
index : [354]
count : 1
Years 2011 2_week : 18.0 count : 2 type_attack : Attempted
index : [359]
count : 2
Years 2011 2_week : 18.0 count : 2 type_attack : Boarded
index : [356]
count : 2
Years 2011 2_week : 18.0 count : 5 type_attack : Fired upon
index : [357]
count : 5
Years 2011 2_week : 19.0 count : 2 type_attack : Attempted
index : [363]
count : 2
Years 2011 2_week : 19.0 count : 1 type_attack : Boarded
index : [360]
count : 1
Years 2011 2_week : 19.0 count : 5 type_attack : Fired upon
index : [361]
count : 5

In [43]:
binary=label_binarize(col_type, classes=unique_type)
dfFinal_2[unique_type[0]]=binary[:,0]
dfFinal_2[unique_type[1]]=binary[:,1]
dfFinal_2[unique_type[2]]=binary[:,2]
dfFinal_2[unique_type[3]]=binary[:,3]
print dfFinal_2

     2_week  Years  count type_attack  Boarded  Fired upon  Hijacked  \
0         1   2008      0     Boarded        1           0         0
1         1   2008      0  Fired upon        0           1         0
2         1   2008      0    Hijacked        0           0         1
3         1   2008      0   Attempted        0           0         0
4         2   2008      0     Boarded        1           0         0
5         2   2008      0  Fired upon        0           1         0
6         2   2008      0    Hijacked        0           0         1
7         2   2008      0   Attempted        0           0         0
8         3   2008      3     Boarded        1           0         0
9         3   2008      1  Fired upon        0           1         0
10        3   2008      1    Hijacked        0           0         1
11        3   2008      0   Attempted        0           0         0
12        4   2008      0     Boarded        1           0         0
13        4   2008      0  Fired upon        0           1         0
14        4   2008      0    Hijacked        0           0         1
15        4   2008      0   Attempted        0           0         0
16        5   2008      2     Boarded        1           0         0
17        5   2008      0  Fired upon        0           1         0
18        5   2008      0    Hijacked        0           0         1
19        5   2008      1   Attempted        0           0         0
20        6   2008      3     Boarded        1           0         0
21        6   2008      1  Fired upon        0           1         0
22        6   2008      0    Hijacked        0           0         1
23        6   2008      1   Attempted        0           0         0
24        7   2008      1     Boarded        1           0         0
25        7   2008      1  Fired upon        0           1         0
26        7   2008      2    Hijacked        0           0         1
27        7   2008      0   Attempted        0           0         0
28        8   2008      1     Boarded        1           0         0
29        8   2008      2  Fired upon        0           1         0
..      ...    ...    ...         ...      ...         ...       ...
642      17   2014      0    Hijacked        0           0         1
643      17   2014      0   Attempted        0           0         0
644      18   2014      2     Boarded        1           0         0
645      18   2014      0  Fired upon        0           1         0
646      18   2014      0    Hijacked        0           0         1
647      18   2014      1   Attempted        0           0         0
648      19   2014      1     Boarded        1           0         0
649      19   2014      0  Fired upon        0           1         0
650      19   2014      0    Hijacked        0           0         1
651      19   2014      0   Attempted        0           0         0
652      20   2014      0     Boarded        1           0         0
653      20   2014      0  Fired upon        0           1         0
654      20   2014      0    Hijacked        0           0         1
655      20   2014      0   Attempted        0           0         0
656      21   2014      0     Boarded        1           0         0
657      21   2014      0  Fired upon        0           1         0
658      21   2014      0    Hijacked        0           0         1
659      21   2014      0   Attempted        0           0         0
660      22   2014      0     Boarded        1           0         0
661      22   2014      0  Fired upon        0           1         0
662      22   2014      0    Hijacked        0           0         1
663      22   2014      0   Attempted        0           0         0
664      23   2014      0     Boarded        1           0         0
665      23   2014      0  Fired upon        0           1         0
666      23   2014      0    Hijacked        0           0         1
667      23   2014      0   Attempted        0           0         0
668      24   2014      0     Boarded        1           0         0
669      24   2014      0  Fired upon        0           1         0
670      24   2014      0    Hijacked        0           0         1
671      24   2014      1   Attempted        0           0         0

     Attempted
0            0
1            0
2            0
3            1
4            0
5            0
6            0
7            1
8            0
9            0
10           0
11           1
12           0
13           0
14           0
15           1
16           0
17           0
18           0
19           1
20           0
21           0
22           0
23           1
24           0
25           0
26           0
27           1
28           0
29           0
..         ...
642          0
643          1
644          0
645          0
646          0
647          1
648          0
649          0
650          0
651          1
652          0
653          0
654          0
655          1
656          0
657          0
658          0
659          1
660          0
661          0
662          0
663          1
664          0
665          0
666          0
667          1
668          0
669          0
670          0
671          1

[672 rows x 8 columns]

In [44]:
dfFinal_2.to_csv("../data/adenMatrix.csv",sep=';', encoding='utf-8', index=False)