In [112]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import label_binarize

In [113]:
df = pd.read_csv('../data/aden_golfe.csv',sep=';')

In [114]:
max_quinzaine=24
max_area_lat=12
max_area_lon=31
number_grid=(max_area_lat+1)*(max_area_lon+1)
print number_grid

416

In [116]:
def monthCorrect(month):
    month=str(int(month))
    if len(month)==1:
        return '0'+month
    else:
        return month

In [120]:
df["mois (0)"]=df.apply(lambda row: monthCorrect(row['mois (0)']), axis=1)
df["jour (0)"]=df.apply(lambda row: monthCorrect(row['jour (0)']), axis=1)
df["date"]=df.apply(lambda row: str(row["Annee (0)"]) +"-"+ str(row["mois (0)"]), axis=1)

In [61]:
df['lat_area'] = df['lat_area'].astype(int)
df['lon_area'] = df['lon_area'].astype(int)

# Version 1

In [51]:
df['area'] = df.apply(lambda row: str(row['lat_area'])+'_'+str(row['lon_area']), axis=1)

## Creation d'un data frame vide

In [52]:
dfAgregateTotal=pd.DataFrame({'count' : df.groupby( [ "Annee (0)","quinzaine_week","area"] ).size()}).reset_index()

In [53]:
specifecArea=pd.DataFrame(dfAgregateTotal['area'].str.split('_',1).tolist(),columns = ['lat_area','lon_area'])
dfAgregateTotal=pd.concat([dfAgregateTotal, specifecArea], axis=1)
print dfAgregateTotal.head()

   Annee (0)  quinzaine_week  area  count lat_area lon_area
0       2008               3  4_20      2        4       20
1       2008               6  3_21      1        3       21
2       2008               6  4_18      1        4       18
3       2008               6  6_19      1        6       19
4       2008               7  5_16      1        5       16

In [54]:
uniqueYears=dfAgregateTotal['Annee (0)'].unique()
Colyears=np.repeat(uniqueYears, 24*(max_area_lon+1)*(max_area_lat+1))

TwoweekRepeat=np.repeat(np.linspace(1, max_quinzaine, num=max_quinzaine), (max_area_lon+1)*(max_area_lat+1))
ColTwoweek=np.tile(TwoweekRepeat, len(uniqueYears))

latRepeat=np.linspace(0, max_area_lat,num=max_area_lat+1)
ColLatArea=np.repeat(latRepeat, max_area_lon+1)
ColLatArea=np.tile(ColLatArea, max_quinzaine)
ColLatArea=np.tile(ColLatArea, len(uniqueYears))

#print ColLatArea

lonRepeat=np.tile(np.linspace(0, max_area_lon, num=max_area_lon+1),max_area_lat+1)
ColLonArea=np.tile(lonRepeat, max_quinzaine)
ColLonArea=np.tile(ColLonArea, len(uniqueYears))

print ColLonArea

count=np.repeat(0, len(Colyears))

print len(Colyears)
print len(ColTwoweek)
print len(ColLatArea)
print len(ColLonArea)

[  0.   1.   2. ...,  29.  30.  31.]
69888
69888
69888
69888

## Fill the matrice

In [55]:
#columns = ['Years','2_week', 'lat_area','lon_area','count']
#matriceML=pd.DataFrame(columns=columns)
#matriceML = matriceML.fillna(0)

dic = {'Years': Colyears, 
     '2_week': ColTwoweek, 
     'lat_area': ColLatArea,
     'lon_area': ColLonArea,
     'count': count
      }

dfFinal= pd.DataFrame(dic)

dfFinal['lat_area']=dfFinal['lat_area'].astype(int).astype('str')
dfFinal['lon_area']=dfFinal['lon_area'].astype(int).astype('str')

print dfFinal.head()

   2_week  Years  count lat_area lon_area
0       1   2008      0        0        0
1       1   2008      0        0        1
2       1   2008      0        0        2
3       1   2008      0        0        3
4       1   2008      0        0        4

In [56]:
for index, row in dfAgregateTotal.iterrows():
    if index%100==0:
        print index
    #print row['Annee (0)'], row['quinzaine_week'], row['count'] ,  row['lat_area'] , row['lon_area'] 
    idx=dfFinal[(dfFinal['Years']==row['Annee (0)']) & (dfFinal['lat_area']==row['lat_area']) & (dfFinal['lon_area']==row['lon_area'] )& (dfFinal['2_week']==row['quinzaine_week'])]
    #print 'index : '+str(idx.index.values)
    #print 'count : '+str(row['count'])
    #dfFinal.set_value(idx.index.values, 'count',row['count'])
    dfFinal_2.set_value(idx.index.values, str(row["type d'attaque(0)"]),row['count'])

0
100
200
300

In [38]:
dfFinal['count'].sum()

421

## Write matrice in a file

In [57]:
dfFinal.to_csv("../data/aden_golfe_matrix_area.csv",sep=';', encoding='utf-8', index=False)

#

# Version 2

In [121]:
dfAgregateTotal2=pd.DataFrame({'count' : df.groupby( [ "date","type d'attaque(0)"] ).size()}).reset_index()
print dfAgregateTotal2.head(10)

      date type d'attaque(0)  count
0  2008-02        Fired upon      1
1  2008-02          Hijacked      1
2  2008-03         Attempted      1
3  2008-03           Boarded      1
4  2008-03        Fired upon      1
5  2008-04         Attempted      1
6  2008-04        Fired upon      3
7  2008-04          Hijacked      2
8  2008-05         Attempted      2
9  2008-05        Fired upon      2

In [123]:
col_years=np.repeat(np.sort(df["Annee (0)"].unique()), max_month)

month_repeat=np.linspace(1, max_month, num=max_month)
month=np.tile(month_repeat, len(unique_years))
col_count=np.repeat(0, len(month))
                               
dic2 = {'Years': col_years,
     'Month': month,
     'Fired upon': col_count,
     'Hijacked': col_count,
      'Attempted': col_count,
     'Boarded': col_count
       }
dfFinal_2 = pd.DataFrame(dic2)
dfFinal_2.head()
dfFinal_2["Month"]=dfFinal_2.apply(lambda row: monthCorrect(row['Month']), axis=1)
dfFinal_2["date"]=dfFinal_2.apply(lambda row: str(row["Years"]) +"-"+ str(row["Month"]), axis=1)
dfFinal_2 = dfFinal_2.drop('Month', 1)                            
dfFinal_2 = dfFinal_2.drop('Years', 1)
dfFinal_2.head()

   Attempted  Boarded  Fired upon  Hijacked     date
0          0        0           0         0  2008-01
1          0        0           0         0  2008-02
2          0        0           0         0  2008-03
3          0        0           0         0  2008-04
4          0        0           0         0  2008-05

## Matrix empty

In [124]:
dfFinal_2.head()

   Attempted  Boarded  Fired upon  Hijacked     date
0          0        0           0         0  2008-01
1          0        0           0         0  2008-02
2          0        0           0         0  2008-03
3          0        0           0         0  2008-04
4          0        0           0         0  2008-05

# Fill matrice

In [129]:
for index, row in dfAgregateTotal2.iterrows():

    #print 'Years '+str(row['Annee (0)']),'2_week : '+str( row['quinzaine_week']),'count : '+str(row['count'])#,'type_attack : '+str(row['type d\'attaque(0)'])

    idx=dfFinal_2[(dfFinal_2['date']==row['date'])]
    #print 'index : '+str(idx.index.values)
    #print 'count : '+str(row['count'])
    dfFinal_2.set_value(idx.index.values, str(row["type d'attaque(0)"]),row['count'])

In [131]:
#binary=label_binarize(col_type, classes=unique_type)
#dfFinal_2[unique_type[0]]=binary[:,0]
#dfFinal_2[unique_type[1]]=binary[:,1]
#dfFinal_2[unique_type[2]]=binary[:,2]
#dfFinal_2[unique_type[3]]=binary[:,3]

dfFinal_2['date']=dfFinal_2.apply(lambda row: str(row['date'])+'-01', axis=1)
print dfFinal_2

    Attempted  Boarded  Fired upon  Hijacked        date
0           0        0           0         0  2008-01-01
1           0        0           1         1  2008-02-01
2           1        1           1         0  2008-03-01
3           1        0           3         2  2008-04-01
4           2        0           2         2  2008-05-01
5           1        0           1         0  2008-06-01
6           2        0           1         1  2008-07-01
7           0        0           3         6  2008-08-01
8           7        0           6         6  2008-09-01
9           7        0           4         5  2008-10-01
10          5        0           4         7  2008-11-01
11          1        1           5         3  2008-12-01
12          8        0           8         3  2009-01-01
13          4        0           4         1  2009-02-01
14          8        0           4         1  2009-03-01
15          3        0           9         5  2009-04-01
16          8        0          12         2  2009-05-01
17          5        0           8         0  2009-06-01
18          0        0           1         1  2009-07-01
19          0        0           4         0  2009-08-01
20          5        0           4         0  2009-09-01
21          2        0           3         0  2009-10-01
22          1        0           6         0  2009-11-01
23          0        0           2         1  2009-12-01
24          0        0           2         1  2010-01-01
25          1        1           0         1  2010-02-01
26          4        0           3         1  2010-03-01
27          4        0           3         0  2010-04-01
28          2        0           3         2  2010-05-01
29          8        0           4         2  2010-06-01
..        ...      ...         ...       ...         ...
54          1        0           0         0  2012-07-01
55          0        0           0         0  2012-08-01
56          0        0           0         0  2012-09-01
57          0        0           0         0  2012-10-01
58          0        0           0         0  2012-11-01
59          0        0           0         1  2012-12-01
60          0        0           0         0  2013-01-01
61          0        0           0         0  2013-02-01
62          2        0           0         1  2013-03-01
63          0        0           0         0  2013-04-01
64          1        0           0         0  2013-05-01
65          0        0           0         1  2013-06-01
66          2        0           0         0  2013-07-01
67          0        0           0         0  2013-08-01
68          0        0           0         0  2013-09-01
69          0        0           0         0  2013-10-01
70          0        0           0         0  2013-11-01
71          0        0           2         0  2013-12-01
72          0        0           1         0  2014-01-01
73          1        0           0         0  2014-02-01
74          2        0           0         0  2014-03-01
75          4        0           0         0  2014-04-01
76          0        0           0         0  2014-05-01
77          0        0           0         0  2014-06-01
78          0        0           0         0  2014-07-01
79          1        0           0         0  2014-08-01
80          0        0           0         0  2014-09-01
81          0        0           0         0  2014-10-01
82          0        0           0         0  2014-11-01
83          1        0           0         0  2014-12-01

[84 rows x 5 columns]

In [132]:
dfFinal_2.to_csv("../data/aden_golfe_matrix_global.csv",sep=';', encoding='utf-8', index=False)

In [64]:
dfAgregateTotal2.to_csv("../data/aden_golfe_matrix_global.csv",sep=';', encoding='utf-8', index=False)