In [158]:
import numpy as np
import pandas as pd

from sklearn.cross_validation import cross_val_score
from sklearn.datasets import make_blobs
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.tree import DecisionTreeClassifier

In [159]:
df = pd.read_csv('../data/adenMatrix.csv',sep=';')
df['type_attack']=df['type_attack'].astype('str')
print df.head()
print len(df)
print df.dtypes

   2_week  Years  count type_attack  Boarded  Fired upon  Hijacked  Attempted
0       1   2008      0     Boarded        1           0         0          0
1       1   2008      0  Fired upon        0           1         0          0
2       1   2008      0    Hijacked        0           0         1          0
3       1   2008      0   Attempted        0           0         0          1
4       2   2008      0     Boarded        1           0         0          0
672
2_week         float64
Years            int64
count            int64
type_attack     object
Boarded          int64
Fired upon       int64
Hijacked         int64
Attempted        int64
dtype: object

In [160]:
features=['2_week','Years','Boarded','Fired upon','Hijacked','Attempted']
target='count'

In [161]:
dfTrain=df[df['Years']!=2014]
dfTest=df[df['Years']==2014]
print len(dfTrain[dfTrain['count']!=0])
print len(dfTest[dfTest['count']!=0])

print len(dfTrain)
print len(dfTest)

312
17
576
96

In [165]:
forest = RandomForestClassifier(n_jobs=1,n_estimators=600)
forest=forest.fit(dfTrain[features], dfTrain[target])

In [166]:
predictions=forest.predict(dfTest[features])
print predictions

[1 1 0 0 0 0 0 0 1 0 0 0 0 1 0 0 0 0 0 2 1 0 1 0 0 1 0 0 0 0 0 0 0 0 0 0 1
 0 0 1 0 0 1 0 1 0 0 0 0 0 0 1 1 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1
 0 0 2 0 0 0 0 2 0 0 2 0 0 0 1 2 0 0 0 0 0 0]

In [167]:
pd.crosstab(dfTest[target],predictions,rownames=['actual'], colnames=['preds'])

preds    0   1  2
actual
0       59  16  4
1       12   0  1
2        3   0  0
3        1   0  0

# Compare area

In [168]:
dfTest['prediction']=predictions
dfTest[(dfTest[target]!=0) | (dfTest['prediction']!=0)].sort('2_week')

/Users/romainphilippe/app/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/Users/romainphilippe/app/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:2: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  from ipykernel import kernelapp as app

,2_week,Years,count,type_attack,Boarded,Fired upon,Hijacked,Attempted,prediction
576,1,2014,0,Boarded,1,0,0,0,1
577,1,2014,0,Fired upon,0,1,0,0,1
580,2,2014,1,Boarded,1,0,0,0,0
581,2,2014,1,Fired upon,0,1,0,0,0
584,3,2014,0,Boarded,1,0,0,0,1
585,3,2014,1,Fired upon,0,1,0,0,0
587,3,2014,1,Attempted,0,0,0,1,0
589,4,2014,0,Fired upon,0,1,0,0,1
595,5,2014,1,Attempted,0,0,0,1,2
592,5,2014,1,Boarded,1,0,0,0,0
596,6,2014,0,Boarded,1,0,0,0,1
597,6,2014,1,Fired upon,0,1,0,0,0
598,6,2014,0,Hijacked,0,0,1,0,1
599,6,2014,1,Attempted,0,0,0,1,0
601,7,2014,0,Fired upon,0,1,0,0,1
603,7,2014,3,Attempted,0,0,0,1,0
607,8,2014,2,Attempted,0,0,0,1,0
615,10,2014,0,Attempted,0,0,0,1,1
612,10,2014,0,Boarded,1,0,0,0,1
618,11,2014,0,Hijacked,0,0,1,0,1
620,12,2014,0,Boarded,1,0,0,0,1
624,13,2014,2,Boarded,1,0,0,0,0
627,13,2014,0,Attempted,0,0,0,1,1
628,14,2014,0,Boarded,1,0,0,0,1
631,14,2014,0,Attempted,0,0,0,1,1
639,16,2014,1,Attempted,0,0,0,1,0
640,17,2014,1,Boarded,1,0,0,0,0
644,18,2014,2,Boarded,1,0,0,0,0
647,18,2014,1,Attempted,0,0,0,1,0
648,19,2014,1,Boarded,1,0,0,0,0
649,19,2014,0,Fired upon,0,1,0,0,1
652,20,2014,0,Boarded,1,0,0,0,2
657,21,2014,0,Fired upon,0,1,0,0,2
660,22,2014,0,Boarded,1,0,0,0,2
665,23,2014,0,Fired upon,0,1,0,0,2
664,23,2014,0,Boarded,1,0,0,0,1
671,24,2014,1,Attempted,0,0,0,1,0